name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Qt (aqtinstall)
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.9.*'
        cache: true

    - name: Configure
      run: cmake --preset=${{ matrix.os == 'windows-latest' && 'win-release' || 'macos-release' }}

    - name: Build
      run: cmake --build build

    - name: Run (Unix)
      if: runner.os != 'Windows'
      run: ./build/QtVsCodeTemplate