name: Qt Minimal Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1 - Checkout
        uses: actions/checkout@v4
      - name: Step 2 - Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential cmake wget
      - name: Step 3 - Download Qt
        run: wget -c https://download.qt.io/archive/qt/6.9/6.9.2/single/qt-everywhere-src-6.9.2.tar.xz -O qt.tar.xz --timeout=600
      - name: Step 4 - Extract
        run: tar -xf qt.tar.xz
      - name: Step 5 - Configure
        run: cd qt-everywhere-src-6.9.2 && ./configure -prefix $GITHUB_WORKSPACE/qt -release -opensource -confirm-license -nomake examples -nomake tests -- -GNinja
      - name: Step 6 - Build
        run: cd qt-everywhere-src-6.9.2 && cmake --build . --parallel 1